.receipt-container {}

.receipt {
  max-width: 800px;
  margin: auto;
  width: 100%;
  border: 1px solid;
}


.rec-head {
  text-align: center;
  width: 100%;
  border-bottom: 1px solid;
  padding: .5rem 1.5rem;
}

.rec-head>div {
  width: fit-content;
  margin: auto;
}

.rec-head .primaryText {
  font-size: 1.5rem;
}

.rec-head .secondaryText {
  font-size: 1rem;
}

.lessor-detail {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  padding: .5rem 1.5rem;
  border-bottom: 1px solid;
  width: 100%;
}

.book-head {
  font-size: 1.1rem;
  text-transform: uppercase;
}

.tenant,
.property,
.payment-details {
  padding: .5rem 1.5rem;
  width: 100%;
  border-bottom: 1px solid;
}

.info {
  color: red;
  font-size: .8rem;
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
}

@media screen and (max-width : 500px) {

  .rec-head,
  .lessor-detail,
  .tenant,
  .property,
  .payment-details {
    padding: .5rem;
  }

  .rec-head .primaryText {
    font-size: 1.1rem;
  }

  .rec-head .secondaryText {
    font-size: .875rem;
  }

  .lessor-detail {
    gap: 1rem;
    flex-direction: column;
  }

  .book-head {
    font-size: 1rem;
    text-transform: uppercase;
  }

  .receipt p {
    font-size: .875rem;
  }

  .receipt p strong {
    font-weight: 500;
  }
}
/*  */
