.h-wrapper {
    color: rgb(255, 255, 255);
}

.h-container {
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--secondary);
    
}

.h-menu {
    gap: 2rem;
    color: white;
}

.h-menu>*:hover {
    color: orange; /* change color on hover */
    cursor: pointer;
}

.menu-icon{
    display: none;
}

.login-btn{

}

.signup-btn{
    background: black;
    color: white;
}
@media screen and (max-width :900px) {
    .menu-icon{
        display: block;
    }
    .h-menu{
        color: var(--black);
        position: absolute;
        top: 3.5rem;
        right: 4rem;
        background: white;
        flex-direction: column;
        font-weight: 500;
        gap: 2rem;
        padding: 3rem;
        border-radius: 10px;
        align-items: flex-start;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
        transition: all 300ms ease-in;
        z-index: 2;
    }
    .signup-btn{
        background: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
    }
}

